.backdrop-movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  overflow: visible;
}

// .modal {
//     transform: translate(-50%, -50%) scale(0.4);
//   }
.modal {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-top: 20px;
  min-width: 280px;
  max-height: 100vh;
  background-color: #ffffff;

  overflow-y: auto;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 704px;
    display: flex;
    height: 552px;
  }

  @media screen and (min-width: 1024px) {
    width: 806px;
    height: 558px;
  }
}

.modal-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 48px 20px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 12px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 12px;
  }
}

.modal {
  transform: translate(-50%, -50%);
}

p {
  margin: 0;
}

br {
  @media (min-width: 768px) {
    display: none;
  }
}

// .modal-conteiner-content {
//   width: 375px;
//   height: 478px;
// }

.card-container {
  width: 240px;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
    padding-top: 10px;
  }

  @media screen and (min-width: 1024px) {
    width: 50%;
    height: 100%;
    padding-top: 0;
  }
}

.modal-conteiner-img {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: 264px;
    height: 373px;
  }

  @media (min-width: 1024px) {
    width: 375px;
    height: 478px;
    padding: auto;
  }
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;

  color: #000000;

  @media (min-width: 767px) {
    padding-top: 0;
    text-align: left;
    // padding-bottom: 10px;
  }
  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
    text-align: left;
    padding-bottom: 20px;
  }
}
.card-list {
  list-style: none;
  @media (min-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.card-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;

  padding-bottom: 10px;
  &:nth-child(4n) {
    padding-bottom: 20px;
  }

  float: left;
  width: 100%;
  @media (min-width: 1024px) {
    width: 49%;
  }
}

.card-item-average {
  padding: 1px 10px;
  background: #ff6b01;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 3px;
}

.card-item-vote {
  display: flex;
}

.card-item-vote,
.card-item-popularity,
.card-item-original-title,
.card-item-genres {
  float: right;
  width: 53%;
  color: #000000;

  @media (min-width: 1024px) {
    width: 49%;
  }
}

.card-item-count,
.card-item-popularity,
.card-item-original-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;

  color: #000000;
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }
}

// .genres-container{
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: center;
//   width: 100%;
//   @media (min-width: 1024px) {
//     width: 49%;
//   }
// }

.card-item-genres {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #000000;
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
    display: block;
  }
}

.card-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  padding-bottom: 10px;
  text-transform: uppercase;

  color: #000000;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  padding-bottom: 20px;
  color: #000000;
}

.card-item-count {
  padding: 1px 5px;
  background: #f7f7f7;
  border-radius: 5px;
}

.card-list-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // flex-wrap: wrap;
}

.card-btn-watched,
.card-btn-que {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11.5px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 14px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 0;
  width: 110px;
  height: 44px;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: background-color 2s, transform 2s;
  @media (min-width: 768px) {
    padding: 14px 10px;
    width: 125px;
    height: 44px;
  }
  @media (min-width: 1024px) {
    padding: 12px 10px;
    width: 136px;
    height: 44px;
  }
}

.card-btn-watched:hover,
.card-btn-que:hover {
  color: #ffffff;
  background-color: #ff6b01;
  border: none;
  outline: none;
  margin-right: 15px;
  margin-bottom: 0;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.modal-close-btn {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  display: block;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  fill: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-vector {
  fill: #000000;
  transition-property: fill;
}

.button-vector:hover,
.button-vector:focus {
  fill: #ff6b01;
}

.modal {
  position: relative;
}
